<article class="preview">
    <header>
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        <div class="post-meta"><time datetime="{{ .Date.Format "02 January 2006" }}">{{ .Date.Format "02 January 2006" }}</time></div>
    </header>
    <section class="post-excerpt">
        {{ if and (not .Description) (.Site.Params.useSummaryIfNoDescription)}}
        <a class="excerptlink" href="{{ .Permalink }}"><p>{{ .Summary }}&hellip;</p></a>
        {{ else }}
        <a class="excerptlink" href="{{ .Permalink }}"><p>{{ .Description | markdownify }}&hellip;</p></a>
        {{ end }}
        <p class="readmore"><a href="{{ .Permalink }}">{{ .Site.Params.keepReadingStr }} <i class="fa fa-angle-double-right" style="padding-left: 5px;"></i></a></p>
    </section>
</article>