{{ partial "head" . }}
<body class="home-template">

    {{ partial "header" . }}
    {{ partial "navigation" . }}

    <main class="content" role="main">
    	{{ if .Site.Params.homeMaxPosts }}
            {{ range first .Site.Params.homeMaxPosts (where .Data.Pages.ByDate.Reverse "Type" "post") }}
				{{ partial "post-list-item" . }}
			{{ end }}
			<nav class="pagination" role="pagination">
			    <a class="archive-link" href="/post/">{{ .Site.Params.archiveStr }}</a>
			</nav>
    	{{ else }}
	        {{ partial "post-list" . }}
	        {{ partial "pagination" . }}
	    {{ end }}
    </main>

    {{ partial "footer" . }}
    {{ partial "js" . }}

</body>
</html>